<?php
/** @var \Abitmedia\Pagomedios\Block\Adminhtml\Payment\Info $this */
?>
<?php echo $block->escapeHtml($block->getMethod()->getTitle()) ?>

<?php if ($this->shouldDisplayStripeSection() && isset($this->getCharge()->getData()[0])): ?>
<br>
<table class="admin__table-secondary order-information-table stripe payment-info">
  <tbody>
      <tr>
          <th><?php echo __('Authorization Code'); ?></th>
          <td class="country"><?php echo $this->getCharge()->getData()[0]['authorization_code']; ?></td>
      </tr>
      <tr>
          <th><?php echo __('Status'); ?></th>
          <td class="country"><?php echo $this->getCharge()->getData()[0]['status']; ?></td>
      </tr>
      <tr>
          <th><?php echo __('Reference'); ?></th>
          <td class="country"><?php echo $this->getCharge()->getData()[0]['reference']; ?></td>
      </tr>
      <tr>
          <th><?php echo __('Client Id'); ?></th>
          <td class="country"><?php echo $this->getCharge()->getData()[0]['client_id']; ?></td>
      </tr>
      <tr>
          <th><?php echo __('Transaction Date'); ?></th>
          <td class="country"><?php echo $this->getCharge()->getData()[0]['transaction_date']; ?></td>
      </tr>
      <tr>
          <th><?php echo __('Message'); ?></th>
          <td class="country"><?php echo $this->getCharge()->getData()[0]['message']; ?></td>
      </tr>
      <tr>
          <th><?php echo __('Card Number'); ?></th>
          <td class="country"><?php echo $this->getCharge()->getData()[0]['card_number']; ?></td>
      </tr>
      <tr>
          <th><?php echo __('Card Brand'); ?></th>
          <td class="country"><?php echo $this->getCharge()->getData()[0]['card_brand']; ?></td>
      </tr>
      <tr>
          <th><?php echo __('Card Holder'); ?></th>
          <td class="country"><?php echo $this->getCharge()->getData()[0]['card_holder']; ?></td>
      </tr>
      <tr>
          <th><?php echo __('Ip Address'); ?></th>
          <td class="country"><?php echo $this->getCharge()->getData()[0]['ip_address']; ?></td>
      </tr>
    </tbody>
</table>
<?php else: ?>
    <!--<br>
    <p>The payment details for this order could not be retrieved from Pagomedios.</p>-->
<?php endif; ?>

<?php
// This info comes from non-card based payment methods
$_specificInfo = $block->getSpecificInformation();
?>
<?php if (count($_specificInfo) > 0): ?>
    <table class="data-table admin__table-secondary">
        <?php foreach ($_specificInfo as $_label => $_value):?>
            <tr>
                <th><?php echo __($block->escapeHtml($_label))?></th>
                <td><?php echo nl2br(implode("\n", $block->getValueAsArray($_value, true)))?></td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php endif; ?>
