<style>
    .pagomedios-logo{
        /*width: 100px;*/
        height: 34px;
    }

    .pe_option_pago {
        margin-bottom: 15px;
        padding-bottom: 15px;
        padding-left: 6px;
        /*padding-top: 10px;*/
        width: auto;
    }
    .pe_option_pago .title {
        color: #333333;
        font: 14px Arial;
        margin-bottom: 12px;
        padding-left: 6px;
    }
    .clear{clear:both;}
</style>
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <img data-bind="attr: {src: getLogo()}"
                 alt="Pagomedios" class="pagomedios-logo">
<!--            <span data-bind="text: getTitle()"></span>-->
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form class="form" data-bind="attr: {'id': getCode() + '-form'}">
            <p>Paga seguro con tarjeta de crédito o débito.</p>
            <img data-bind="attr: {src: getCreditCardsImages()}" style="width: 275px;">
            <br><br>



            <div class="field required">
                <label data-bind="attr: {for: 'payment[billing_company_type]'}" class="label">
                    <span><!-- ko i18n: 'Company Type'--><!-- /ko --></span>
                </label>
                <select id="payment[billing_company_type]" name="payment[billing_company_type]"
                        class="select select-month"
                        data-bind="attr: {id: 'payment[billing_company_type]', 'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true, 'validate-cc-exp':'#card[exp_year]'})},
                                            enable: isActive($parents),
                                            options: getBillingCompanyType(),
                                            optionsValue: 'value',
                                            optionsText: 'label',
                                            value: billingCompanyType">
                </select>
            </div>
            <br>


            <div class="field required">
                <label data-bind="attr: {for: 'payment[billing_document_type]'}" class="label">
                    <span><!-- ko i18n: 'Document Type'--><!-- /ko --></span>
                </label>
                <select id="payment[billing_document_type]" name="payment[billing_document_type]"
                        class="select select-month"
                        data-bind="attr: {id: 'payment[billing_document_type]', 'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true, 'validate-cc-exp':'#card[exp_year]'})},
                                            enable: isActive($parents),
                                            options: getBillingDocumentType(),
                                            optionsValue: 'value',
                                            optionsText: 'label',
                                            value: billingDocumentType">
                </select>
            </div>
            <br>


            <div class="field required">
                <label data-bind="attr: {for: 'payment[billing_document]'}" class="label">
                    <span><!-- ko i18n: 'Billing Document'--><!-- /ko --></span>
                </label>
                <div class="control">
                    <input id="payment[billing_document]" type="number" name="payment[billing_document]" class="input-text" value=""
                           data-bind="attr: {
                                    autocomplete: off,
                                    id: 'payment[billing_document]',
                                    title: $t('Billing Document'),
                                    'data-container': 'payment[billing_document]',
                                    'data-validate': JSON.stringify({'required-number':true})},
                                    enable: isActive($parents),
                                    valueUpdate: 'keyup' "
                    />
                </div>
            </div>
            <br>

        </form>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <div class="primary">
                    <button id="pagomedios_place_order" class="action primary checkout"
                            type="submit"
                            data-bind="
                        click: placeOrder,
                        attr: {title: $t('Continue with Pagomedios')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        ">
                        <span data-bind="text: $t('Continue with Pagomedios')"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
